/* font-family: 'Poppins', sans-serif;
font-family: 'Prata', serif; */
body {
  font-family: "Poppins", sans-serif;
  background-color: #12101d;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 0;
}
.grid {
  display: grid;
  grid-gap: 24px;
}

.grid-3-col-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.card-header.grid {
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card {
  background-color: white;
  margin: 0;
}
.card-body {
  padding: 30px;
  display: block;
}
.card-footer {
  padding: 0 30px 30px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.text-center {
  text-align: center;
}
main section {
  background-color: white;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

.btn:hover {
  background-color: white;
  color: #12101d;
  border: 1px solid #462cb3;
}

main h2 {
  font-weight: 200;
  color: grey;
  font-size: 16px;
  padding: 0;
  margin: 0 auto;
  line-height: 1.5;
  text-transform: uppercase;
}

main h3 {
  margin: 0 auto;
  padding: 0;
  font-size: 24px;
}

main h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main p {
  font-size: 14px;
  font-weight: 400;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 250px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: whitesmoke;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.9)
    ),
    url(../img/footer.jpeg);
  padding: 100px 90px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer a {
  text-decoration: underline;
  color: white;
  opacity: 0.7;
}
footer a:visited {
  color: white;
}
footer p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}
footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul {
  padding: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}
.img-responsive {
  width: 100%;
}

.card-header img {
  aspect-ratio: 1/1;
}

@media (max-width: 1200px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
